body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Center the header */
    max-width: 1000px; /* Limit the width */
}

.nav-link {
    color: #16a085;
    font-weight: bold;
}

.nav-link:hover {
    color: #1abc9c;
    text-decoration: underline;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; /* A subtle border to differentiate cards */
    color: #333;

}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.badge {
    font-size: 1rem;
    background-color: #16a085; /* Matching the primary color */
    color: #fff; /* Ensure text is readable */
}

/* deck Link Styles */
.deck-link {
    color: #038a6f; 
    text-decoration: none; 
}

.deck-link:hover {
    color: #025e4b; 
    text-decoration: underline; 
}

.deck-study-link {
    color: #d9534f; /* A contrasting red color */
    text-decoration: none; 
    font-weight: bold; /* Makes the text stand out */
}

.deck-study-link::before {
    content: "📚 "; /* Emoji icon for a book */
    margin-right: 5px; /* Adds some space between icon and text */
}


.deck-study-link:hover {
    color: #c9302c; /* A darker shade for hover effect */
    text-decoration: underline; 
}
